@import '../../../assets/styles/colors.scss';
@import '../../../assets/styles/details.scss';



.navbar {
    background-color: $white!important;
    @include b-shadow-default;
    z-index: 1;

    position: fixed;
    width: 100%;

    
  .container {
    background-color: $white;
    display: flex;
    justify-content: space-between;
  }

  &-brand {
    font-size: 2rem;
    font-family: "Courier New", Courier, monospace;
    background-color: $white;
  }

  &-toggler {
    border: none;
    background-color: $white;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  &-collapse {
    background-color: $white;
    flex-grow: initial;
  }

  .nav-link {
    background-color: $white;
  }
}

.search {
  background-color: $white;

  &__input {
    &:focus {
      outline: none;
      box-shadow: none;
      &::placeholder {
        color: transparent;
      }
    }
  }

  &__button{
    border-color: $blue-powered;
    &:hover{
      background-color:$blue-soft;
      color:$white;
      border-color: $blue-powered;
    }
  }
}

.profile{
    background-color: $grey; 
    @include font-default;
    color:$white;  
    font-weight: 800;
    font-size: 16px;
    @include b-shadow-default;
    @include b-radius-default;
    //border: solid 1px black;

}

span{
  color: $blue-soft;
  background-color: transparent;
  font-family: serif;
  font-weight: bold;
}