<nav class="navbar navbar-expand-lg bg-body-tertiary p-2">
  <div class="container">
    <a class="navbar-brand" href="#">
      <span>My</span>_Blog
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <form class="search d-flex" role="search">
        <input class="search__input form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="search__button btn " type="submit">Buscar</button>
      </form>

      <div class="profile ms-5 w-25 d-flex flex-nowrap">
        <p class="navbar-profile__name">nome do usuario</p>
        <div class="navbar-profile__photo">aaaaaa
          <img class="navbar-profile__img" src="" alt="">
        </div>
      </div>
    </div>
  </div>
</nav>