@import "../../../../assets/styles/colors.scss";
@import "../../../../assets/styles/details.scss";

.categories {
  @include b-radius-default;
  @include b-shadow-default;
  @include font-default;

  b {
    color: $blue-soft;
  }

  ul{
    opacity: .6;
    font-size: 95%;
  }
}