@import "../../../../assets/styles/colors.scss";
@import "../../../../assets/styles/details.scss";

.categories {
  @include b-radius-default;
  @include b-shadow-default;
  @include font-default;

  b {
    color: $blue-soft;
  }

  ul{
    opacity: .7;  
    list-style: none;
  }

  li{
    &:hover{
      cursor: pointer;
    // text-decoration: underline;
    opacity: 1;
    font-weight: bold;
    transform: scale(1.03);
    }

    &:visited a{
      font-weight: bold;
    }
    
  }
}