<span class="col-12" data-bs-toggle="modal" data-bs-target="#modal">
    <ng-content></ng-content>
</span>
  
  <!--remove o "show" abaixo-->
  <div class="modal" id="modal" tabindex="-1"  aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">
            {{postTitle}}
          </h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <ng-content select="[content]"></ng-content>
        </div>
        <div class="modal-footer">
         
        </div>
      </div>
    </div>
  </div>