<div class="another-posts col-12 bg-white pt-2 pb-1">
    <b class="d-flex justify-content-center mb-3 fs-6">Outras publicações</b>

    <div class="col-12 " *ngIf="Anotherposts.length > 0; else loading">
        <ul>
            <li *ngFor="let post of Anotherposts;" (click)="showPost(post)">
                <a>
                    <b>{{post.title | slice: 0:30 }}{{post.title.length > 30 ? '...' : ''}}</b>
                </a>
                <br>
                <span class="d-flex justify-content-end me-3">{{post.date | date: 'dd/MM/yyyy':'UTC'}}</span>
            </li>
        </ul>
    </div>

    <ng-template #loading>
       
        <p *ngIf="!searchingYet" class="loading m-auto">
           Nenhum post encontrado.
        </p>

        <p *ngIf="!isPostsError && searchingYet" class="loading m-auto">
            Carregando ...
        </p>

        <p *ngIf="isPostsError" class="loading m-auto">
            Erro ao carregar posts
        </p>
    </ng-template>
</div>