
@import "../../../assets/styles/colors.scss";
@import '../../../assets/styles/details.scss';


.post {
  &__container {
    //border: solid 1px rgb(0, 0, 0);
    @include b-shadow-default;
    @include b-radius-default;
    font-size: 1rem;
    font-weight: bold;
  }

  &__header {
    &__photo {
        display: flex;
        justify-content: center;
        
      &__image {
        width: 55%;        
        img{
            clip-path: circle(50%);
        }
      }
    }

    &__occupation{
        font-size: .8rem;
        font-weight: normal;
        opacity: .5;
        background-color: white;
    }
  }

  &__photo{
    &__image{
        min-height: 300px;
        max-height: 450px;
        min-width: 100%;
        img{
            min-height: 300px;
            max-height: 400px;
            min-width: 100%;
            object-fit: scale-down;

        }
    }
  }

  &__text{

    &__title{
        @include font-default;
        font-weight: bold;
    }

    &__details{
        font-size: .8rem;
        font-weight: normal;
        opacity: .6;
        display: block;
        margin-top: -3px;
    }

    &__content{
        font-weight: normal;
        opacity: .8;
        line-height: 1.3;

    }

    span{
        font-weight: normal;
        opacity: .5;
    }
  }
}
