/* You can add global styles to this file, and also import other style files */
@import '/src/assets/styles/colors.scss';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    padding: 0;
    background-color:#f4f2ee;
    font-size: 99%;    
}