<div class="form col-12 h-100 position-relative">
    <div class="form__content col-12 h-100">
        <form [formGroup]="postFormGrupo" *ngIf="!loading" class="col-12" (ngSubmit)="publishNewPost()">
            <fieldset>
                <input formControlName="title" class="title" placeholder="Titulo*" type="text"           
                name="title" id="title">
                <blog-v-message *ngIf="postFormGrupo.get('title')?.errors?.required && postFormGrupo.get('title')?.touched" 
                message="O titulo do post é obrigatório."></blog-v-message>
                <blog-v-message *ngIf="postFormGrupo.get('title')?.errors?.minlength" 
                message="O titulo deve conter pelo menos 3 caracteres."></blog-v-message>
                <blog-v-message *ngIf="postFormGrupo.get('title')?.errors?.maxlength"
                message="O titulo deve conter no máximo 30 caracteres."></blog-v-message>
            </fieldset>

            <fieldset>
                <input formControlName="image" class="url-image" placeholder="Url da imagem" type="text" 
                name="url-image" id="url-image">
                <blog-v-message *ngIf="postFormGrupo.get('image')?.errors?.pattern" 
                message="O valor inserido deve ser uma url. Ex: https://...."></blog-v-message>
                <blog-v-message *ngIf="postFormGrupo.get('image')?.errors?.maxlength" 
                message="O link deve ter no máximo 255 caracteres."></blog-v-message>                
            </fieldset>

            <fieldset>
                <textarea formControlName="text" class="text" placeholder="O que quer compartilhar hoje?*" 
                name="text" id="text" cols="30" rows="5"></textarea>
                <blog-v-message *ngIf="postFormGrupo.get('text')?.errors?.required && postFormGrupo.get('text')?.touched" 
                message="O texto do post é obrigatório."></blog-v-message>
                <blog-v-message *ngIf="postFormGrupo.get('text')?.errors?.minlength" 
                message="O texto do post deve conter pelo menos 3 caracteres."></blog-v-message>
                <blog-v-message *ngIf="postFormGrupo.get('text')?.errors?.maxlength" 
                message="O texto do post deve no máximo 500 caracteres."></blog-v-message>
            </fieldset>

            <div class="d-flex flex-wrap mt-3">  
                <section class="select-category col-12  col-sm-12 col-md-6">
                    <span>Categoria</span>           
                    <select formControlName="category" name="category" id="category">
                        <option  *ngFor="let category of getCategories()" [value]="category">{{category}}</option>                        
                    </select>
                </section>                
                
                <section class="radios-privacy col-12 col-sm-12 col-md-6 mt-2 mt-md-0">                       

                    <input type="radio" formControlName="privacy" value="publico" checked name="privacy" id="public"> <label for="public">Publico</label>
                    <input type="radio" formControlName="privacy" value="privado" name="privacy" id="private">  <label for="private">Privado</label>
                </section>
            </div>

            <div class="actions mt-3 col-12 d-flex flex-wrap">
                <button class="col-12 col-sm-12 col-md-8 mt-2" [disabled]="postFormGrupo.invalid" type="submit">Publicar</button>
                <input class="col-12 col-sm-12 col-md-4 mt-2" type="reset" value="Limpar Tudo">
            </div>            
        </form>
    </div>

    <ng-template [ngIf]="loading">
        <div class="loading">
            <img class="loading__img" src="../../../assets/GIFS/loading-ampulheta.gif" alt="">
            <p>Publicando post ...</p>
        </div>
    </ng-template>
</div>
