<div class="form col-12 h-100">
    <div class="form__content col-12 h-100">
        <form [formGroup]="postFormGrupo" class="col-12" (ngSubmit)="publishNewPost()">
            <fieldset>
                <input formControlName="title" class="title" placeholder="Titulo*" type="text" 
                name="title" id="title">
            </fieldset>
            <fieldset>
                <input formControlName="image" class="url-image" placeholder="Url da imagem" type="text" 
                name="url-image" id="url-image">
            </fieldset>

            <fieldset>
                <textarea formControlName="text" class="text" placeholder="O que quer compartilhar hoje?*" 
                name="text" id="text" cols="30" rows="5"></textarea>
            </fieldset>

            <div class="d-flex flex-wrap mt-3">
                
                <section class="select-category col-12  col-sm-12 col-md-6">
                    <select formControlName="category" name="category" id="category">
                        <option  *ngFor="let category of getCategories()" [value]="category">{{category}}</option>                        
                    </select>
                </section>                
                
                <section class="radios-privacy col-12 col-sm-12 col-md-6 mt-2 mt-md-0">                   
                    <input type="radio" formControlName="privacy" value="public" checked name="privacy" id="public"> <label for="public">Publico</label>
                    <input type="radio" formControlName="privacy" value="privacy" name="privacy" id="private">  <label for="private">Privado</label>
                </section>
            </div>

            <div class="actions mt-3 col-12 d-flex flex-wrap">
                <button class="col-12 col-sm-12 col-md-8 mt-2" [disabled]="postFormGrupo.invalid" type="submit">Publicar</button>
                <input class="col-12 col-sm-12 col-md-4 mt-2" type="reset" value="Limpar Tudo">
            </div>            
        </form>
    </div>
</div>
